* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


html {
    /*https://freefrontend.com/css-text-animations/*/

}

/********************************/
/***** Titre About US **********/
/********************************/
/*https://codepen.io/grohit/pen/mdJqEzK*/
.titre-us {
    font-weight: 700;
    text-align: center;
    font-size: 6rem;
    /*font-family: Hack, sans-serif;*/
    text-transform: uppercase;
    background: linear-gradient(90deg, #744b2c, #fdb92d, #744b2c);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 8s linear infinite;
    position: relative;
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}

/********************************/



/***************************/
/***** Slide text **********/
/***************************/
/*https://codepen.io/EricPorter/pen/JjPmOOb*/
.wordCarousel {
    font-size: 1.8rem;
    font-weight: 400;
    color: #2d4240;
}

.wordCarousel div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: 15px;
}

.wordCarousel div li {
    font-family: Arial, Helvetica, sans-serif;
    color: #2d4240;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

.flip2 {
    -webkit-animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip2 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
    -webkit-animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
    -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}


@-webkit-keyframes flip2 {
    0% {
        margin-top: -180px;
    }

    5% {
        margin-top: -90px;
    }

    50% {
        margin-top: -90px;
    }

    55% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -180px;
    }
}

@keyframes flip2 {
    0% {
        margin-top: -180px;
    }

    5% {
        margin-top: -90px;
    }

    50% {
        margin-top: -90px;
    }

    55% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -180px;
    }
}

@-webkit-keyframes flip3 {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

@keyframes flip3 {
    0% {
        margin-top: -270px;
    }

    5% {
        margin-top: -180px;
    }

    33% {
        margin-top: -180px;
    }

    38% {
        margin-top: -90px;
    }

    66% {
        margin-top: -90px;
    }

    71% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}

@-webkit-keyframes flip4 {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -360px;
    }
}

@keyframes flip4 {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -360px;
    }
}

.about_us,
.us-container {
    width: 100%;
    height: 20vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #abbcbb;
}

.us-container {
    display: flex;
    flex-direction: column;
}


/********************************/
/*********** Parallax **********/
/********************************/

.parallax_us {
    width: 100%;
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #839e9c;
    background-image: url(../images/header.jpg);
}




/********************************/
/*********** Partener **********/
/********************************/

.about_partenaire {
    width: 100%;
    height: 110vh;
    background-color: #2d4240;

}

.interv-wrap-us {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.about_partenaire p {
    font-size: 1rem;

}

.about_partenaire p_us {
    font-size: 1.5rem;
    padding: 1rem;
}

/********************************/
/************* News **********/
/********************************/

.parallax_actu {
    background-color: #839e9c;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    /*padding: 5%;*/
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about_actu {
    display: flex;
    flex-direction: column;
    height: 110vh;
    justify-content: center;
}

.appear_title{
    width: 100%;
}

.titre-us--h3 {
    font-weight: 400;
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    background: linear-gradient(90deg, #744b2c, #fdb92d, #744b2c);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    position: relative;
}

.block_links_us {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.block_links_us-1,
.block_links_us-2,
.block_links_us-3 {
    width: calc(100%/3);
    text-align: center;
    display: flex;
    align-items: center;
}

.block_links-us-list {
    color: #d2d9d8;
}

.appear_links-list {
    padding: 0;
}

.appear_links-list-us {
    width: 70%;
    color: white;

}

/***************************/
/**** Citation *********/
/***************************/



.about_citation {
    height: 100%;
    display: flex;
    justify-content: center;
}

.parallax_citation {
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(../images/carte-mere.jpg); */
    background-color: #744b2c;
    padding: 1%;
}


.wordCarousel--citation {
    font-size: 2rem;
    font-weight: 700;
    color: #2d4240;
    margin: 0;

}

.wordCarousel--citation div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 25vh;
    padding-top: 10px;
    margin-top: -10px;


}

.wordCarousel--citation div li {

    color: #2d4240;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

.citations {
    color: white;
    position: relative;
    font-size: 20px;
    text-align: center;
    line-height: normal;

}
