* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
 /*https://freefrontend.com/css-text-animations/*/
html {
    --text-color-blue: #01588d;
    --text-color-white: #fff;
    --color-section-title: #00112a;
    --color-title-purple : #8a01fe;
    --bg-color-section-about: #d2d9d8;
    --bg-color-light: #f7b11b;
    --bg-color-transition: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    --bg-color-title-h2-yellow: linear-gradient(to right, #ffbf3a 40%, #005287 100%);
    --bg-color-blocks: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    --bg-image: url(../images/fond/circuit_blanc.jpg);
    scroll-behavior: smooth;
}


.parallax-header {
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-section-title);
    position: absolute;
    top: 5rem;
    z-index: -2;

}

/********************************/
/***** Titre About US **********/
/********************************/

.parallax-pro {
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-light);
    margin-top: 28%;

}


/********************************/
/*********** Parallax **********/
/********************************/

.parallax_us {
    width: 100%;
    height: 20vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #839e9c;
    background-image: var(--bg-image);
    position: absolute;
    top: 65%;
    /* left: 0rem;*/
}

.parallax-particulier {
    background-image: var(--bg-color-transition);
    position: relative;
    width: 100%;
    /*height: 380vh;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax-espace-about {
    width: 100%;
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #839e9c;
    background-image: var(--bg-image);
    position: relative;
    overflow: hidden;
    justify-content: center;
}


/* ================================================================*/
/* ============================   TITRES ===========================*/
/* ================================================================*/




.title_header_h1{
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    background-clip: #ffbf3a;
    background: linear-gradient(to left, #ffbf3a 30%, #005287 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 8px;
    text-transform: uppercase;
    margin-top: 5%;
}

.title_header_h2{
    text-align: center;
    background-clip: #005287;
    background: var(--bg-color-transition);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    text-transform: uppercase;
}

.title_header_h2_particulier{
    text-align: center;
    background-clip: #fdb92d;
    background: #fdb92d;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    text-transform: uppercase;
}

.header_list_item{
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    padding: 2%;
    color: white;
}


/* ================================================================*/
/* ============================ PROFESSIONNELS ====================*/
/* ================================================================*/


.wrap_pro {
    display: flex;
    margin-top: 9%;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 1.2rem;
    line-height: 2rem;
}

.wrap_pro--img--text{
    display: flex;
    align-items: center;
    padding: 2%;
}

/* ================================================================*/
/* ============================ PARTICULIERS ======================*/
/* ================================================================*/

.wrap_particulier {
    display: flex;
    margin-top: 9%;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #d2d9d8;
}

.wrap-particulier-bloc{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}


.particulier-intro{
    padding: 2%;
    display: flex;
    align-items: center;
}

.particulier-intro-text{
    text-align: center;
}

.img-particulier,
.particulier-intro-text{
    padding: 2%;
}

.wrap--bloc--text--image {
    display: flex;
    align-items: center;
    padding: 2%;
}

.particulier-bloc-img,
.bloc-text--intro{
    padding: 2%;
}

.blocs-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blocs-texts h3{
    background-clip: #ffbf3a;
    background: #ffbf3a;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.wrap--blocs{
    display: flex;
    align-items: center;
    padding: 2%;
    flex-direction: column;

}

.bloc-text{
    padding: 2%;
    display: flex;
    align-items: center;
}

.bloc-text--img,
.bloc-text--titre-p{
    padding: 2%;
}

.bloc-text--titre-p h4{
    color: #fdb92d;
    font-size: 2em;
    font-weight: bold;
}


/* ================================================================*/
/* ====================== CONTACT =================================*/
/* ================================================================*/

.wrap_contact{
    background-color: #ffffff7a;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    margin: 2%;
}

.wrap_contact--img{
    width: 30%;
}

.wrap_contact--a:hover{
    color: #fdb92d;
}

.wrap_contact--a{
    font-size: 2.5rem;
    font-weight: bold;
    color: #2d4240;
}




/***************************/
/**** Citation *********/
/***************************/



/*.about_citation {
    height: 100%;
    display: flex;
    justify-content: center;
    width: 100%;
}*/

.parallax_citation {
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(../images/fond/carte-mere.jpg); */
    background-color: var(--bg-color-light);
    padding: 1%;
}




.citations {
    color: white;
    position: relative;
    font-size: 20px;
    line-height: normal;

}

.text_citations li {
    overflow: hidden;
}

.item-1,
.item-2,
.item-3 {
    position: absolute;
    text-align: center;
    display: block;
    top: 4em;
    width: 40rem;
    font-size: 1.5em;
    animation-duration: 30s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.item-1,
.item-2,
.item-3 > div{
    padding: 1rem;
}

.item-1 {
    animation-name: anim-1;
}

.item-2 {
    animation-name: anim-2;
}

.item-3 {
    animation-name: anim-3;
}

@keyframes anim-1 {
    0%,
    8.3% {
        left: -50%;
        opacity: 0;
    }

    16.6%,
    33.3% {
        
        opacity: 1;
    }

    41.6%,
    100% {
        left: 50%;
        opacity: 0;
    }
}

@keyframes anim-2 {
    0%,
    33.33% {
        left: -100%;
        opacity: 0;
    }

    41.63%,
    58.29% {
        
        opacity: 1;
    }

    66.66%,
    100% {
        left: 110%;
        opacity: 0;
    }
}

@keyframes anim-3 {
    0%,
    66.66% {
        left: -100%;
        opacity: 0;
    }

    74.96%,
    91.62% {
        
        opacity: 1;
    }

    100% {
        left: 110%;
        opacity: 0;
    }
}




/* ================================================================*/
/* ============================  FOOTER ===========================*/
/* ================================================================*/
.link_document{
    background-color: var(--color-bg--footer);
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    width: 100%;
    
}

footer {
    background-color: var(--color-bg--footer);
    height: 10vh;
    padding: 0.5%;
    color: #fdb92d;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



@media  screen and (max-width: 768px){
    
    .title_header_h1{
        font-size: calc(1rem + 1vw);
    }
    .header_list_item{
        font-size: 1rem;
        margin-top: 1rem;
        line-height: 2rem;
    }

    .parallax_us{
        top: 72%;
        position: absolute;
        height: 25vh;
    }
    .title_header_h2 {
        font-size: calc(1rem + 1vw);
    }

     /* PRO */

    .parallax-pro{
        height: 128vh;
        margin-top: 35rem;
    }
    .wrap_pro--img--text {
        display: flex;
        align-items: center;
        padding: 2%;
        flex-direction: column;
        font-size: 1rem;
    }

    .wrap_pro--img img{
        width: 50%;
    }

    .wrap_pro-p,
    .particulier-intro-text{
        padding: 4%;
        font-size: 1rem;
    }

    /* PRARTICULIER */
    .wrap_particulier {
        display: flex;
        margin-top: 9%;
        flex-direction: column;
        align-items: center;
        font-size: 1.2rem;
        line-height: 1.5rem;
        color: #d2d9d8;
    }

    .blocs-texts h3 {
        font-size: 1.5rem;
        letter-spacing: 5px;
        text-align: center;
        width: 60%;
    }

    .particulier-intro {
        padding: 2%;
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 60%;
    }
    .bloc-text--intro {
        padding: 2%;
        text-align: center;
        width: 70%;
    }

    .bloc-text {
        padding: 2%;
        display: flex;
        flex-direction: column;
        width: 80%;
        align-items: center;
    }
    

    .wrap--bloc--text--image {
        display: flex;
        align-items: center;
        padding: 2%;
        flex-direction: column;
    }

    .wrap--bloc--text{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90%;
        text-align: center;
        font-size: 1rem;
    }

    .text_citations li {
        overflow: hidden;
        font-size: 1rem;
    }

    .link_document {
        font-size: 0.7rem;
    }

    footer{
        font-size: 1rem;
    }
}