* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --texte-size: 1.2rem;
    --texte-line-heigt: 26px;
    --text-color-blue: #01588d;
    --text-color-white: #fff;
    --text-color-h1: linear-gradient(to left, #ffbf3a 30%, #005287 100%);
    --color-section-title: #00112a;
    --color-title-purple : #8a01fe;
    --bg-image: url(../images/fond/circuit_blanc.jpg);
    --bg-color-section-about: #d2d9d8;
    --bg-color-light: #ffbf3a;
    --bg-color-transition: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    --bg-color-title-h2-yellow: linear-gradient(to right, #ffbf3a 40%, #005287 100%);
    --bg-color-blocks: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    scroll-behavior: smooth;
}

body {
    font: 12px/18px Arial, Helvetica, sans-serif;
    color: #d5e0f5;

}

.wrap{
    height: 270vh;
}



.bas_page{

}

/* ================================================================*/
/* ============================   PARALLAX ===========================*/
/* ================================================================*/

.parallax-header {
    width: 98%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-section-title);
    position: absolute;
    top: 5rem;
    left: 1rem;
    z-index: -2;

}

.parallax-espace {
    width: 100%;
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-image);
    position: relative;
    overflow: hidden;
    top: 26.3rem;
}

.parallax-text {
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color-light);
    position: relative;
    overflow: hidden;
    top: 26.3rem;

}

.wrap_text{
    padding: 1.5rem;
    font-size: 1.2rem;
    color: var(--text-color-white);
}

.parallax-coord {
    background-image: var(--bg-color-transition);
    position: relative;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    top: 26.3rem;
}

.parallax-coord_contact{
    width: 100%;
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-image);
    position: relative;
    overflow: hidden;
    top: 26rem;

}


/* ================================================================*/
/* ============================   COORDONNEES ===========================*/
/* ================================================================*/


.coord{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    width: calc(100%/2);
}



.coord h3{
    background-clip: #ffbf3a;
    background: linear-gradient(to left, #ffbf3a 30%, #839e9c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.coord li>a{
    text-decoration: none;
    color: var(--text-color-white);
    padding: 1rem;
    font-size: 1.2rem;
}

.coord_ul{
    display: flex;
    flex-direction: column;
}

.coord_ul li{
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.wrap_map{
    width: calc(100%/2);
    padding: 1.5rem;
}

/* ================================================================*/
/* ============================   FORM ===========================*/
/* ================================================================*/

.contact_form{

    background-color: #e414147a;

}

.block_contact{
    border: #00112a 1px solid;
    
}