html {
    --text-color: #839e9c;
    --bg-color-section-title: #839e9c;
    --bg-color-section-about: #d2d9d8;

}

body {
    font: 12px/18px Arial, Helvetica, sans-serif;
    color: #b4b4b4;

}




/* ================================================================*/
/* ==================    NAVIGATION  =============================*/
/* ================================================================*/

/* nav {
    display: block;
    z-index: 1111;
} */

.nav-bg {
    background: url(../images/nav-bg.jpg) 0 0 repeat;

}

nav img {
    width: 60%;

}

.menu {
    margin: 0px 0px 0px 330px;
    display: inline-block;
}

.menu a {
    float: left;
    display: block;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
}

.menu a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: #86a5a3;
    display: block;
    border-left: #c2dcdb 1px solid;
    padding: 16px 0 21px 0;
}

.menu a :first-child a {
    border-left: transparent 1px solid;
}

#active {
    background: #839e9c;
    color: #fff;
}


.menu a:hover,
.menu a .current {
    background: #839e9c;

}

.menu a:hover,
.menu li.current a {
    color: #fff;
}


/* ================================================================*/
/* ======================    SECTIONS  ===========================*/
/* ================================================================*/


/* section h1 {
    position: relative;
    padding: 2%;
}

.parallax-title {
    width: 100%;
    height: 30vh;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    display: flex; 
    flex-direction: column;
    align-items: center;
    background-color: #839e9c; 
    background-image: url(../images/carte-mere.jpg); 
} */

.parallax-about {
    width: 100%;
    height: 60vh;
    padding: 2%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/carte-mere.jpg);
}

.parallax-product {
    width: 100%;
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

.parallax-space {
    width: 100%;
    height: 10vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/carte-mere.jpg);
}

.parallax-interv {
    background-color: #d2d9d8;
    position: relative;
    width: 100%;
    height: 125vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallax-links {
    position: relative;
    width: 100%;
    height: 30vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(315deg, #d2d9d8 0%, #839e9c 74%);
    
}

.parallax-links .block {
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.parallax-links h2 {
    text-align: center;
    color: white;
}


.product_section {
    color: #839e9c;
    font-size: 20px;
    line-height: 2rem;
}


/* ================================================================*/
/* =======================  ABOUT  =============================*/
/* ================================================================*/

.about {
    color: white;
    position: relative;
    width: 65%;
    padding: 2%;
    text-align: center;
    background-color: #b4b4b4a5;
}

.about-title_h1{
    color: #ffbf3a;
    background-image: linear-gradient(45deg #ffbf3a 85%, #744b2c 15% );
    font-weight: bold;
    font-size: 45px;
}

.about h2 {
    color: #744b2c;
    font-weight: bold;
    font-size: 45px;
    /* text-shadow: 2px 2px #b4b4b4fb;; */

}


/* ================================================================*/
/* =======================  PRODUCTS =============================*/
/* ================================================================*/

.product_section {
    padding: 3%;
}

.product_section h2 {
    color: #744b2c;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    
}

/* ================================================================*/
/* =======================  BLOCKS  =============================*/
/* ================================================================*/


.interv_title {
    text-align: center;
    padding: 3%;
}

.interv_title h2 {
    color: #744b2c;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 3%;

}

.parallax-interv h3 {
    color: #744b2c;
}

.interv-wrap {
    display: flex;
}

.interv-block {}

.interv-block-left {
    margin-left: 5%;
}

.block_p,
h3,
.block a {
    color: white;
    text-align: center;
}

.block {
    height: 200px;
    background-image: linear-gradient(315deg, #d2d9d8 0%, #839e9c 74%);
    margin-bottom: 20px;
    display: flex;
    width: 90%;
}

.block_img {
    padding: 3%;
}

.block_text {
    width: 70%;
    padding: 3%;
}

.block_links {
    width: calc(100/3);
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-left {
    animation: fade-left 0.5s ease-in;
}

.active.fade-right {
    animation: fade-right 0.5s ease-in;
}


@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ================================================================*/
/* ============================   LINKS ===========================*/
/* ================================================================*/

.block_links h2{
    color: #744b2c;
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.block_links-list{
    text-align: center;
    
}

.link {
    color: white;
    
    
}
.solutions {
    margin-top: -2%;
}
.link:hover {
    color: #ffbf3a;
}

.link-1 {
    color: #85a09d;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    display: inline-block;
}

.link-1:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}
/* ================================================================*/
/* ============================  THANKS ===========================*/
/* ================================================================*/

.parallax-thanks {
    width: 100%;
    height: 40vh;
    padding: 2%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/carte-mere.jpg);
}


.thanks {
    color: white;
    position: relative;
    width: 65%;
    padding: 2%;
    font-size: 20px;
    text-align: center;
    line-height: normal;
    background-color: #744b2cb7;
}

.thanks h2{
    color: #ffbf3a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
}

/* ================================================================*/
/* ============================  FOOTER ===========================*/
/* ================================================================*/

footer{
    background: url(../images/nav-bg.jpg) 0 0 repeat;
    text-align: center;
    height: 5vh;
    padding: 0.5%;
    color: #744b2c;
}

.footer-mail {
    color: #744b2c;
}

.footer-mail:hover {
    color: #ffbf3a;
}