html {
    --text-color: #839e9c;
    --bg-color-section-title: #839e9c;
    --bg-color-section-about: #d2d9d8;
    scroll-behavior: smooth;
}

body {
    font: 12px/18px Arial, Helvetica, sans-serif;
    color: #b4b4b4;

}

h1,
h2 {
    font-size: calc(1rem + 3vw);
    letter-spacing: 1px;
}


/* ================================================================*/
/* ==================    NAVIGATION  =============================*/
/* ================================================================*/

/* nav {
    display: block;
    z-index: 1111;
} */

.nav-bg {
    background: url(../images/nav-bg.jpg) 0 0 repeat;

}

nav img {
    width: 60%;

}

.menu {
    margin: 0px 0px 0px 330px;
    display: inline-block;
}

.menu a {
    float: left;
    display: block;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
}

.menu a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: #86a5a3;
    display: block;
    border-left: #c2dcdb 1px solid;
    padding: 16px 0 21px 0;
}

.menu a :first-child a {
    border-left: transparent 1px solid;
}

#active {
    background: #839e9c;
    color: #fff;
}


.menu a:hover,
.menu a .current {
    background: #839e9c;

}

.menu a:hover,
.menu li.current a {
    color: #fff;
}


/* ================================================================*/
/* ======================    SECTIONS  ===========================*/
/* ================================================================*/


section h1 {
    position: relative;
    padding: 2%;
}

.parallax-title {
    width: 100%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #839e9c;
    background-image: url(../images/carte-mere.jpg);

}

.title-wrapper {}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

.parallax-about {
    width: 100%;
    height: 70vh;
    padding: 2%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(../images/carte-mere.jpg); */
    background-image: linear-gradient(315deg, #d2d9d8 0%, #839e9c 74%);
    -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));
    margin: -100px 0px;

}

.parallax-product {
    width: 100%;
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.parallax-space {
    width: 100%;
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/carte-mere.jpg);
    -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));
    margin: -102px 0px;
}

.parallax-interv {
    background-color: #d2d9d8;
    position: relative;
    width: 100%;
    height: 130vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));
    margin: -100px 0px;
}

.parallax-links {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 125vh;
    padding: 5%;
    overflow: hidden;
    display: flex;
    background-image: url(../images/carte-mere.jpg);
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    -webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));
    margin: -100px 0px;
}


.parallax-links h2 {
    text-align: center;
    color: white;
}


.product_section {
    color: #839e9c;
    font-size: 20px;
    line-height: 2rem;
}


/* ================================================================*/
/* =======================  ABOUT  =============================*/
/* ================================================================*/

.about {
    color: white;
    position: relative;
    padding: 5%;
}

.active.fade-bottom {
    animation: fade-bottom 1s ease-in;
}

@keyframes fade-bottom {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.about-title_h1 {
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    background-clip: #ffbf3a;
    background: linear-gradient(to left, #ffbf3a 30%, #839e9c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about h2 {
    background-clip: #ffbf3a;
    background: linear-gradient(to right, #ffbf3a 40%, #839e9c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: calc(2rem + 2vw);
}

.about p {
    width: 80%;
    min-width: 180px;
    font-size: calc(0.8rem + 0.5vw);
    text-align: center;
    margin: 0 auto;
    line-height: calc(0.5rem + 2.5vw);
    letter-spacing: 1px;
    /* background-color: #c2dcdbaa ; */
}


/* ================================================================*/
/* =======================  PRODUCTS =============================*/
/* ================================================================*/

.product_section {
    padding: 3%;
    margin-top: 4%;
}

.product_section h2 {
    color: #744b2c;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    font-size: calc(2rem + 2vw);
}

/* ================================================================*/
/* =======================  BLOCKS  =============================*/
/* ================================================================*/


.interv_title {
    text-align: center;
    padding: 3%;
}

.interv_title h2 {
    color: #744b2c;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 3%;
    font-size: calc(2rem + 2vw);
}

.parallax-interv h3 {
    color: #744b2c;
}

.interv-wrap {
    display: flex;
}

.interv-block {}

.interv-block-left {
    margin-left: 5%;
}

.block_p,
h3,
.block a {
    color: white;
    text-align: center;
}

.block {
    height: 200px;
    background-image: linear-gradient(315deg, #d2d9d8 0%, #839e9c 74%);
    margin-bottom: 20px;
    display: flex;
    width: 90%;
}

.block_img {
    padding: 3%;
}

.block_text {
    width: 70%;
    padding: 3%;
}

.block_links {
    width: calc(100/3);
}

.reveal {
    position: relative;
    opacity: 0;
}

.reveal.active {
    opacity: 1;
}

.active.fade-left {
    animation: fade-left 0.5s ease-in;
}

.active.fade-right {
    animation: fade-right 0.5s ease-in;
}


@keyframes fade-left {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-right {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* ================================================================*/
/* ============================   LINKS ===========================*/
/* ================================================================*/

.block_links h2 {
    color: #744b2c;
    font-weight: bold;
    font-size: calc(1rem + 1vw);
    text-transform: uppercase;
}

.block_links {
    background-image: linear-gradient(315deg, #d2d9d8 0%, #839e9c 74%);
    width: 25%;
    text-align: center;
}

.block_links-1 {}

.block_links-2 {}

.block_links-3 {}


.block_links-list {
    text-align: center;

}

.block_links .wrapper {
    margin: 30px 0;
}

.block_links .appear {
    text-align: center;
}

.link {
    color: white;

}

.solutions {
    margin-top: -2%;
}

.link:hover {
    color: #ffbf3a;
}

.link-1 {
    color: #85a09d;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 11px;
    line-height: 18px;
    font-weight: bold;
    display: inline-block;
}

.link-1:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* ================================================================*/
/* ============================  THANKS ===========================*/
/* ================================================================*/

.parallax-thanks {
    width: 100%;
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/carte-mere.jpg);

}


.thanks {
    color: white;
    position: relative;
    width: 65%;
    padding: 2%;
    font-size: 20px;
    font-size: calc(0.5rem + 1vw);
    text-align: center;
    line-height: normal;
    background-color: #744b2cb7;
}

.thanks h2 {
    color: #ffbf3a;
    font-weight: bold;
    text-transform: uppercase;
    font-size: calc(2rem + 2vw);
}

/* ================================================================*/
/* ============================  FOOTER ===========================*/
/* ================================================================*/

footer {
    background: url(../images/nav-bg.jpg) 0 0 repeat;
    text-align: center;
    height: 5vh;
    padding: 0.5%;
    color: #744b2c;
}

.footer-mail {
    color: #744b2c;
}

.footer-mail:hover {
    color: #ffbf3a;
}