* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --texte-size: 1.2rem;
    --texte-line-heigt: 26px;
    --text-color-blue: #01588d;
    --text-color-white: #fff;
    --text-color-h1: linear-gradient(to left, #ffbf3a 30%, #005287 100%);
    --color-section-title: #00112a;
    --color-title-purple : #8a01fe;
    --bg-image: url(../images/fond/circuit_blanc.jpg);
    --bg-color-section-about: #d2d9d8;
    --bg-color-light: #f7b11b;
    --bg-color-transition: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    --bg-color-title-h2-yellow: linear-gradient(to right, #ffbf3a 40%, #005287 100%);
    --bg-color-blocks: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    scroll-behavior: smooth;
}


/* ================================================================*/
/* ============================   PARALLAX ===========================*/
/* ================================================================*/

.parallax {
    width: 98%;
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-image);
    position: absolute;
    top: 27rem;
    left: 1rem;
}

.parallax-header {
    width: 98%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-section-title);
    position: absolute;
    top: 5rem;
    left: 1rem;
    z-index: -2;

}


.parallax-diagnosctic {
    width: 100%; */
    /* height: 110vh; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    background-image: var(--bg-color-transition);
    margin-top: 39rem;
    padding: 1%;

}


.wrap {
    display: flex;
    flex-direction: column;
}

.wrap_intro_interv_diag{
    display: flex;
    align-items: center;
}

.wrap_image{
    padding: 2%;
}

.wrap_text{
    color: var(--text-color-white);
    font-size: var(--texte-size);
    line-height: var(--texte-line-heigt);
}

.wrap_text h2{
    color: #ffbf3a;
}

.parallax-assemblage {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffbf3a;


}



.parallax-vente {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-color-transition);
    /*-webkit-clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));
    clip-path: polygon(0 0, 100% 100px, 100% 100%, 0% calc(100% - 100px));*/

}





.parallax-reparation {
    background-color: var(--color-section-title);
    position: relative;
    width: 100%;
    /*height: 380vh;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.parallax-pro {
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    /*padding: 5%;*/
    overflow: hidden;
    display: flex;
    background-image: var(--bg-image);
    align-items: center;
    justify-content: space-around;

}


.parallax-pro h2 {
    text-align: center;
    color: white;
}

.parallax-espace {
    width: 100%;
    height: 30vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-image);
    position: relative;
    overflow: hidden;
}


/* ================================================================*/
/* ============================   TITRES ===========================*/
/* ================================================================*/

.title_interv_h1{
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    background-clip: #ffbf3a;
    background: var(--text-color-h1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.title_interv{

    text-align: center;
    background-clip: #ffbf3a;
    background: linear-gradient(to right, #ffbf3a 90%, #005287 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    text-transform: uppercase;

}

.title_interv_autre{

    text-align: center;
    background-clip: #005287;
    background: var(--bg-color-transition);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    text-transform: uppercase;

}


/* ================================================================*/
/* ============================   DIAGNOSTIC========================*/
/* ================================================================*/

.intro_interv_diag b{
    text-align: center;
}


.savoir-titre{
    display: flex;
    align-items: center;

}

.savoir-titre img{
    display: flex;
    align-items: center;
    margin: 1%;

}

b{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

/* ================================================================*/
/* ============================  ASSEMBLAGE  ======================*/
/* ================================================================*/


.wrap_assemblage {
    display: flex;
    align-items: center;
    font-size: var(--texte-size);
    line-height: var(--texte-line-heigt);
    color: var(--text-color-white);
}
.wrap_text_assemblage h2,
.assemblage_aSavoir h2{
    color: #005287;
    font-weight: bold;
}

.assemblage_aSavoir{
    padding: 3%;
    font-size: var(--texte-size);
    line-height: var(--texte-line-heigt);
    color: var(--text-color-white);
}

/* ================================================================*/
/* ============================  VENTES   ========================*/
/* ================================================================*/

.wrap_vente{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrap_periph{
    background-color: rgba(246, 246, 245, 0.933);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    
}
.wrap_ecran h2{
    font-size: 2rem;
    color: #ffbf3a;
}

.wrap_ecran{
    font-size: 1.2rem;
    color: var(--text-color-white);
    padding: 1rem;
}



/* ================================================================*/
/* ============================  REPARATION   ========================*/
/* ================================================================*/

.reparation_periph{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}


.reparation_periph-titre h2{
    background-clip: #ffbf3a;
    background: linear-gradient(to right, #ffbf3a 90%, #00112a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

.reparation_periph-text{
    padding: 2%;
}

.reparation-entete{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 2%;

}

.reparation-p-entete{
    width: 60%;
}
.reparation-entete .wrap-image{
    width: 30%;
    display: flex;
    justify-content: center;
}
.reparation-entete .wrap-image img{
    width: 50%;
}

.reparation-p-list{
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.parallax-reparation h3{
    color: var(--text-color-blue);
    font-weight: bold;
}

.reparation-p{
    font-size: var(--texte-size);
    line-height: var(--texte-line-heigt);
}

.reparation-img{
    width: 90%;

}

.reparation-corp-img{
    width: 40%;
    display: flex;
    justify-content: center;
}

.reparation-corp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.reparation-corp-texte{
    text-align: center;
    width: 60%;
}


.reparation_periph-ecrans {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: var(--texte-size);
    line-height: var(--texte-line-heigt);
}

.reparation_periph-ecran-p-liste{

}

.reparation_periph-smartphone{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;
    line-height: 26px;
}

.reparation_periph-smartphone img
{
    width: 30%;
    padding: 2%;
}
.reparation_periph-smartphone p{
    width: 70%;
    padding: 2%;
}

.reparation_periph_ecran-items{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 3%;
}

.icon-text{
    width: calc(90%/5);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-text img{
    padding: 5%;
}

.icon-text h6{
    font-weight: bold;
    text-decoration: underline;
    color:#01588d;
}

.reparation-appareils-img{
    width: 50%;
    padding: 2%;
}

.reparation-appareils-img img{
    width: 90%;
    box-shadow: 3px 5px 0px #005287}

.reparation-appareils-liste-item{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.reparation-appareils-item{
    width: calc(90%/7);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reparation-appareils-item h4 {
    font-weight: bold;
    padding: 2%;
    color: #fdb92d;
    text-align: center;

}

.reparation-appareils-texte ul>li{
    list-style-image: url(../icon/iconmonstr-cpu-jaune-16.png);
    line-height: 2rem;

}
.reparation-appareils-texte ul>li::marker{
    width: 10%;
}

.reparation-appareils-texte{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ================================================================*/
/* ============================ PROFESSIONNEL   ====================*/
/* ================================================================*/

.wrap-pro{
    background-image: var(--bg-color-transition);
    color: var(--text-color-white);
    font-size: var(--texte-size);
    line-height: var(--texte-line-heigt);
}

.wrap-pro h3{
    color: #fdb92d;
    font-weight: bold;
}

.wrap-pro h4{
    color: #fdb92d;
    font-weight: bold;
    text-align: center;
}

.intro-pro{
    display: flex;
    align-items: center;
    justify-content: center;

}

.intro-pro-img{
    width: 30%;
    display: flex;
    justify-content: center;
}

.intro-pro-texte{
    font-size: var(--texte-size);
    line-height: var(--texte-line-heigt);
    width: 70%;
}

.intro-pro-img img{
    width: 70%;
}

.liste-service-pro{
    display: flex;
    align-items: center;
}

.services{
    display: flex;
    align-items: center;
}

.services-perso-pro,
.services-pro{
    width: calc(100%/2);
    padding: 3%;
}

.liste-service-pro-img{
    display: flex;
    justify-content: center;
}
.liste-service-pro-img img{
    width: 25rem;
}

.services ul>li{
    list-style-image: url(../icon/iconmonstr-cpu-jaune-16.png);
    line-height: 2rem;

}


.liste-marques-pro{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.liste-marques-pro-img{
    display: flex;
    justify-content: center;
}

.liste-marques-pro-img img{
    width: 25rem;
}

.liste-marques-pro-texte{
    display: flex;
    justify-content: center;
}

.reference-pro,
.marques-pro,
.partenaires-pro{
    width: calc(90%/3);
}

.list-ul-pro{
    display: flex;
    justify-content: center;
}

.partenaires-pro{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.liste-marques-pro-texte ul>li{
    list-style-image: url(../icon/iconmonstr-cpu-jaune-16.png);
    line-height: 2rem;

}

.conclusion-pro{
    display: flex;
    justify-content: center;
    padding: 2%;
}


.conclusion-pro-img{
    display: flex;
    justify-content: center;
}

.conclusion-pro-img img{
    width: 28rem;
}

.assemblage-pro{
    display: flex;
    flex-direction: column;
    
}


footer {
    background-color: var(--color-bg--footer);
    height: 10vh;
    padding: 0.5%;
    color: #fdb92d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96.1rem;
    margin-left: 1.5rem;
}


