
/* Header */
header{
    background-color: #001433;
    box-shadow: 1px 1px 5px 0px gray;
    top: 0;
    width: 100%;

}

nav a{
    color: #abbcbb;
}


/* Logo */
.logo_nav{
    display: inline-block;
    color: white;
    margin-left: 10px;
}

.logo_nav, nav{
    top: 0.5rem;
}
.logo_nav img{
    width: 6rem;
}

ul{
    list-style: none;
    margin-top: 0.5rem;
}

/* Nav menu */
nav{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: transparent;
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;

}
.item{
    background-color: #2d4240;

}

.item-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 968px){
    .menu li{
        display: block;
        padding: 30px;

        -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
        clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    }
}

.menu li:hover{
    background-color: #1e2530;
    z-index: 1;

}


/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: #fdb92d;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: #fdb92d;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
} /* Hide checkbox */

/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* Sub nav */
.subnav-content {

    width: 100%;
    z-index: 1;
    padding: 20px 0 ;
    display: none;

}
.subnav-content a {
    text-decoration: none;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    background-color: transparent;
}

.subnav:hover .subnav-content {
    display: flex;
    flex-direction: column;
    background-color: transparent;

}



/* Responsiveness */
@media (min-width: 968px) {
    nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }
    .menu li{
        float: left;
    }
    .menu a:hover{
        background-color: transparent;
        color: #fdb92d;
        transform: scale(1.1)
    }

    .hamb{
        display: none;
    }


}



@media (min-width: 968px) {

    /* Sub nav */
    .subnav-content {
        padding: 20px 0 ;
        display: none;
        background-color:  black;
    }
    .subnav-content a {
        color: white;
    }
}

@media (max-width: 968px){
    ul{
        list-style: none;
        margin-top: 5.5rem;
        padding-left: 0;
    }

    .item-wrap {
        padding: 1rem;
    }

    nav li:hover{
        background-color: #1e2530;
        z-index: 1;

    }

    .menu a:hover{
        color: #fdb92d;
    }
}
