
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    --texte-size: 1.2rem;
    --texte-line-heigt: 26px;
    --text-color-blue: #01588d;
    --text-color-white: #fff;
    --text-color-h1: linear-gradient(to left, #ffbf3a 30%, #005287 100%);
    --color-section-title: #00112a;
    --color-title-purple : #8a01fe;
    --bg-image: url(../images/fond/circuit_blanc.jpg);
    --bg-color-section-about: #d2d9d8;
    --bg-color-light: #ffbf3a;
    --bg-color-transition: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    --bg-color-title-h2-yellow: linear-gradient(to right, #ffbf3a 100%, #005287 100%);
    --bg-color-blocks: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    scroll-behavior: smooth;
}
body {
    font: 12px/18px Arial, Helvetica, sans-serif;
    color: #b4b4b4;

}


/* ================================================================*/
/* ============================   PARALLAX ===========================*/
/* ================================================================*/

.parallax-header {
    width: 98%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-section-title);
    position: absolute;
    top: 5rem;
    left: 1rem;
    z-index: -2;

}

.parallax {
    width: 98%;
    height: 35vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #839e9c;
    background-image: var(--bg-image);
    position: absolute;
    top: 27rem;
    left: 1rem;
}

.parallax-news {
    width: 100%;
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-color-transition);
    margin-top: 36%;

}



/* ================================================================*/
/* ============================   TITRES ===========================*/
/* ================================================================*/




.title_header_h1{
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    background-clip: #ffbf3a;
    background: var(--text-color-h1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 8px;
    text-transform: uppercase;
}


.title_header_h2{
    text-align: center;
    color: #fdb92d;
    background-image: var(--bg-color-title-h2-yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    text-transform: uppercase;
    margin-top: 3%;
}


/* ================================================================*/
/* ============================   NEWS ===========================*/
/* ================================================================*/

.wrap_news-item{
    display: flex;
    align-items: center;
    color: var(--text-color-white);
    font-size: 1.2rem;
    line-height: 2rem;
    padding: 3%;

}

.wrap_news-img{
    width: 30%;
}
.wrap_news-text{
    width: 70%;
}
.wrap_news-img img{
    width: 80%;
}

.wrap_news-text--title{
    color: #ffbf3a;
    font-weight: bold;
    font-size: calc(0.8rem + 1vw);
    text-shadow: 1px 1px #00537c;
}

.source-date{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
    color: #ffbf3a;
    font-size: 1rem;
}

.source-date p{
    padding: 3%;
}

.link_document{
    background-color: var(--color-bg--footer);
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    width: 96.1rem;
    margin-left: .7rem;
}

footer {
    background-color: var(--color-bg--footer);
    height: 10vh;
    padding: 0.5%;
    color: #fdb92d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96.1rem;
    margin-left: .7rem;
}
