
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    --text-color-blue: #01588d;
    --text-color-white: #fff;
    --texte-size: 16px;
    --texte-line-heigt: 26px;
    --color-section-title: #00112a;
    --color-title-purple : #8a01fe;
    --bg-color-section-about: #d2d9d8;
    --bg-color-transition: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    --bg-color-title-h2-yellow: linear-gradient(to right, #ffbf3a 40%, #005287 100%);
    --bg-color-blocks: linear-gradient(315deg, #00112a 0%, #01588d 74%);
    scroll-behavior: smooth;
}


.parallax-header {
    width: 98%;
    height: 50vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-section-title);
    position: absolute;
    top: 5rem;
    left: 1rem;
    z-index: -2;

}

.parallax {
    width: 98%;
    height: 16vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/fond/circuit_blanc.jpg);
    position: absolute;
    top: 27rem;
    left: 1rem;
}

.title_marques_h1{
    font-weight: bold;
    font-size: calc(2rem + 2vw);
    background-clip: #ffbf3a;
    background: linear-gradient(to left, #ffbf3a 30%, #005287 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.parallax-marques {
    width: 100%;
    /*height: 110vh;*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: var(--bg-color-transition);
    margin-top: 30%;
    
    margin-top: 28rem;
    color: #d2d9d8;
    font-size: var(--texte-size);


}


.intro-marques p{
    text-align: center;
    margin: 5%;
    padding: 5%;
    font-size: 18px;
    border-top:  0.5rem solid #ffbf3a;
    border-bottom:  0.5rem solid #ffbf3a;
    background-clip: #d2d9d8;
    background: linear-gradient(to left, #fff 100%, #2d4240 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.conclusion-marques{
    text-align: center;
    margin: 5%;
    padding: 5%;
    font-size: 18px;
    border-top:  0.5rem solid #ffbf3a;
    border-bottom:  0.5rem solid #ffbf3a;
    background-clip: #d2d9d8;
    background: linear-gradient(to left, #fff 100%, #2d4240 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* ================================================================*/
/* ============================  FOOTER ===========================*/
/* ================================================================*/
.link_document{
    background-color: var(--color-bg--footer);
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
    width: 96.1rem;
    margin-left: 1.5rem;
}

.link_document a {
    text-decoration: none;
    color: var(--text-color-white);
}


footer {
    background-color: var(--color-bg--footer);
    height: 10vh;
    padding: 0.5%;
    color: #fdb92d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96.1rem;
    margin-left: 1.5rem;
}


