* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    --text-color-blue: #01588d;
    --text-color-white: #fff;
    --color-bg--footer: #00112a;
    scroll-behavior: smooth;
}


/* ================================================================*/
/* ============================  FOOTER ===========================*/
/* ================================================================*/
.link_document{
    background-color: var(--color-bg--footer);
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.8rem;
}

.link_document a {
    text-decoration: none;
    color: #fff;
}

footer {
    background-color: var(--color-bg--footer);
    
    height: 10vh;
    padding: 0.5%;
    color: #fdb92d;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-mail {
    color: #abbcbb;
}

footer a:hover {
    color: #ffbf3a;
}

.link_footer {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: #abbcbb;
    font-size: 1rem;
    font-weight: bold;
}

.link_footer a {
    text-decoration: none;
    color: #abbcbb;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.signature{
    border-top: 0.2em solid #ffbf3a;
}

